:plain
  Your job has been published! Check it out here: #{job_url(@job)}

  If you wish to edit or delete the job post, you may do so here: #{edit_job_url(@job, :token => @user.try(:token))}
  Keep this email handy so that you may revise or remove your post in the future.

  Thanks for using the Indy Hackers Job Board! If you have any questions, comments, or suggestions, please email miles@indyhackers.org.
