:plain
  http://indyhackers.org/admin/jobs

  From: #{@job_post_request.name} (#{@job_post_request.email})

  #{@job_post_request.title}
  ----------------------------------------
  #{@job_post_request.description}
