- title 'Hacks && Happenings Newsletter Archive'

.grid_10.prefix_1
  %section.newsletters
    .readable
      <style type="text/css">
      <!--
      .display_archive {font-family: arial,verdana; font-size: 12px;}
      .campaign {line-height: 125%; margin: 5px;}
      //-->
      </style>
      <script language="javascript" src="http://us6.campaign-archive1.com/generate-js/?u=244b5370d41b5cf4146ec517c&fid=2541&show=10" type="text/javascript"></script>
