- title 'Hacks && Happenings Newsletter Archive'.html_safe

%li.newsletters
  %h1 Hacks && Happenings
  %p Below you'll find archived versions of all of our newsletter's editions. Enjoy!
  :css
    .campaign {line-height: 125%; margin: 5px;}
  <script language="javascript" src="http://us6.campaign-archive1.com/generate-js/?u=244b5370d41b5cf4146ec517c&fid=2541&show=10" type="text/javascript"></script>
