- title 'Hacks && Happenings Newsletter Archive'.html_safe

%section.newsletters.container
  %h1 Hacks &amp;&amp; Happenings
  %p
    :markdown
      Indy Hackers is proud to present **Hacks && Happenings**, an every so often (we try for every other week!) collection of projects and blog posts by local developers and special developer-centric events delivered straight to your inbox!
  
  <iframe scrolling="no" style="width:100%!important;height:220px;border:1px #ccc solid !important" src="https://buttondown.email/indyhackers?as_embed=true"></iframe><br /><br />

  %p
    :markdown
      Archives are available [here](https://buttondown.email/indyhackers/archive/) and older archives are available [here](https://www.indyhackers.org/newsletter/archive).