- title 'Hacks && Happenings Newsletter Archive'.html_safe

%section.newsletters.container
  %h1 Hacks &amp;&amp; Happenings
  %p
    :markdown
      Indy Hackers is proud to present **Hacks && Happenings**, a quarterly collection of projects and blog posts by local developers and special developer-centric events delivered straight to your inbox!
      You can [subscribe](http://indyhackers.us6.list-manage.com/subscribe?u=244b5370d41b5cf4146ec517c&id=b51f983563) now or [view the past issues](/newsletter/archive).

  %p Below you'll find archived versions of all of our newsletter's editions. Enjoy!
  :css
    .campaign {line-height: 125%; margin: 5px;}
  <script language="javascript" src="//us6.campaign-archive1.com/generate-js/?u=244b5370d41b5cf4146ec517c&fid=2541&show=24" type="text/javascript"></script>
