- if @job.errors.any?
  #error_explanation
    %h2
      = pluralize(@job.errors.count, "error")
      prohibited this job from being saved:

    %ul
      - @job.errors.full_messages.each do |msg|
        %li= msg
%fieldset
  = f.input :title
  = f.input :description
