- title 'Indianapolis Programming Jobs'

.grid_10.prefix_1
  %section.jobs
    .readable
      %h1 Indianapolis Programming Jobs

      - if @jobs.empty?
        %p
          There are no job postings at this time. Check back later, or
          %a{:href =>'http://indyhackers.org/jobs.xml'}subsribe to the feed.

    -# %div{:class => 'clear'}

    - @jobs.each do |job|
      %article.job.readable
        %h1
          = link_to job.title, job_path(:id => job.slug), :name => "#{job.title.downcase.gsub(/[^a-zA-Z0-9]/, '-')}"
        .job-description{:style => "display:none;"}
          = MARKDOWN.render(job.description).html_safe

    .readable
      :markdown
        Do you want to post a job? Well, have I got a form for **you**! Please [proceed to the 'request a job posting' form](/job_post_requests/new). Fill it out, send it along, and your job will get posted as soon as it can be approved. Go. [Post a job](/job_post_requests/new).

