- title 'Indianapolis Programming Jobs'
- description("Find companies seeking passionate programmers in the Indianapolis area.")

.grid_10.prefix_1
  %section.jobs
    .readable
      %h1 Indianapolis Programming Jobs

      - if @jobs.empty?
        %p
          There are no job postings at this time. Check back later, or
          %a{:href =>'http://indyhackers.org/jobs.xml'}subsribe to the feed.

    -# %div{:class => 'clear'}

    - @jobs.each do |job|
      %article.job.readable
        %h1
          = link_to job.title, job_path(:id => job.slug), :name => "#{job.title.downcase.gsub(/[^a-zA-Z0-9]/, '-')}"
        .job-description{:style => "display:none;"}
          = MARKDOWN.render(job.description).html_safe
