- title 'Indianapolis Programming Jobs'
- description("Find companies seeking passionate programmers in the Indianapolis area.")
- content_for :head do
  = auto_discovery_link_tag :atom, '/jobs.atom'
  = auto_discovery_link_tag :rss, '/jobs.rss'

%li#jobs-header.text-center
  %h1 Indianapolis Programming Jobs

.jobs
  - if @jobs.empty?
    %p
      There are no job postings at this time. Check back later, or
      %a{:href =>'http://indyhackers.org/jobs.xml'}subsribe to the feed.

  - @jobs.each do |job|
    %li= link_to job.title, job_path(job), :name => "#{job.title.downcase.gsub(/[^a-zA-Z0-9]/, '-')}"
