- title 'Indianapolis Tech Jobs'
- description("Find companies seeking passionate programmers, designers, PMs, testers, and more in the Indianapolis area.")
- content_for :head do
  = auto_discovery_link_tag :atom, '/jobs.atom'
  = auto_discovery_link_tag :rss, '/jobs.rss'

%li#jobs-header
  %h1 Indianapolis Tech Jobs
  %p
    :markdown
      Have an open position at your company? It is completely free to submit a job to our job board! Each job remains published for 60 days, and will be included in our newsletter while published. Please [submit your job here](/job_post_requests/new), and mind our [Job Board Policy](https://github.com/indyhackers/job_board_policy). Thank you!

.job-list
  - if @jobs.blank?
    %p
      There are no job postings at this time. Check back later, or
      %a{:href =>'http://indyhackers.org/jobs.xml'}subsribe to the feed.

  - @jobs.each do |job|
    %li= link_to job.name, job_path(job), name: "#{job.name.downcase.gsub(/[^a-zA-Z0-9]/, '-')}"
