.button, .button:visited {
  background: #222222 url("/images/button.png") repeat-x;
  border: none;
  display: inline-block;
  padding: 5px 10px 6px;
  color: white;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer; }
  .button:hover, .button:visited:hover {
    background-color: #111111;
    color: white; }
  .button:active, .button:visited:active {
    top: 1px; }

.small.button, .small.button:visited {
  font-size: 11px; }

.button, .button:visited, .medium.button, .medium.button:visited {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); }

.large.button, .large.button:visited {
  font-size: 14px;
  padding: 8px 14px 9px; }

.green.button, .green.button:visited {
  background-color: #91bd09; }

.green.button:hover {
  background-color: #749a02; }

.blue.button, .blue.button:visited {
  background-color: #7799bb; }

.blue.button:hover {
  background-color: #133156; }

.red.button, .red.button:visited {
  background-color: #e33100; }

.red.button:hover {
  background-color: #872300; }

.magenta.button, .magenta.button:visited {
  background-color: #a9014b; }

.magenta.button:hover {
  background-color: #630030; }

.orange.button, .orange.button:visited {
  background-color: #da4d00; }

.orange.button:hover {
  background-color: #d45500; }

.yellow.button, .yellow.button:visited {
  background-color: #ffb515; }

.yellow.button:hover {
  background-color: #fc9200; }

input[type=text], input[type=password], input[type=email], textarea {
  width: 400px;
  margin-bottom: 5px;
  font-size: 16px;
  padding: 9px;
  border: solid 1px #e5e5e5;
  outline: 0;
  background: white; }

textarea {
  height: 500px;
  line-height: 150%; }

input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, textarea:hover,
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
  border-color: #c9c9c9; }

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
  border-color: #999999; }

form.simple_form fieldset div label {
  display: block;
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 10px; }

form.simple_form fieldset {
  border-top: 1px solid #999999;
  padding-bottom: 10px;
  padding-top: 10px; }

form.simple_form legend {
  color: #7799bb;
  font-size: 100%;
  font-weight: bold;
  margin-left: 20px; }

form.simple_form .hint {
  margin-left: 110px;
  font-size: 13px;
  color: #666666;
  display: block; }

form.simple_form span.error {
  display: block;
  text-align: center; }

form.simple_form label abbr {
  color: red; }

/* Success, error & notice boxes for messages and errors. */
div.error, div.notice, div.success, div.failure, div.alert {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 1px solid #dddddd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }

#errorExplanation, #error_explanation {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 1px solid #dddddd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }

div.error, div.failure, div.alert {
  background: #fbe3e4;
  color: #d12f19;
  border-color: #fbc2c4; }

.error, .failure, .alert, #errorExplanation, #error_explanation {
  background: #fbe3e4;
  color: #d12f19;
  border-color: #fbc2c4; }

div.error a, div.failure a, div.alert a {
  color: #d12f19; }
div.notice {
  background: #fff6bf;
  color: #817134;
  border-color: #ffd324; }

.notice {
  background: #fff6bf;
  color: #817134;
  border-color: #ffd324; }

div.notice a {
  color: #817134; }
div.success {
  background: #e6efc2;
  color: #529214;
  border-color: #c6d880; }

.success {
  background: #e6efc2;
  color: #529214;
  border-color: #c6d880; }

div.success a {
  color: #529214; }

.fieldWithErrors {
  color: #d12f19; }
  .fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea {
    background: #fbe3e4;
    border: 1px solid #d12f19; }

#errorExplanation, #error_explanation h2 {
  font-size: 12px;
  color: #d12f19; }

#errorExplanation, #error_explanation p {
  color: #333333;
  margin: 12px 0 5px 0; }

#errorExplanation, #error_explanation ul {
  margin: 0 0 0 20px; }

#errorExplanation, #error_explanation ul li {
  font-size: 12px;
  list-style: square;
  margin: 0; }

/* FLASH */
.errorExplanation {
  border: 1px solid #ffbbbb;
  background-color: #ffdddd;
  padding: 20px 30px;
  margin: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

body {
  color: #666666;
  background: url("../images/striped_bg.png") white;
  font-size: 100%; }

a, a:visited {
  color: #ab8b00;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: #7799bb; }

.clear {
  clear: both; }

hr {
  color: #e5ecf9;
  background-color: #e5ecf9;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  height: 5px;
  width: 85%;
  border: none; }

#header {
  background-color: rgba(229, 236, 249, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  height: 50px;
  margin: 0 auto; }
  #header #menu-container h1 {
    font-family: Philosopher, Helvetica Nueue, Helvetica, Verdana, Arial, sans-serif;
    float: left;
    color: #666666;
    margin: 10px 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
    #header #menu-container h1 a, #header #menu-container h1 a:visited, #header #menu-container h1 a:hover, #header #menu-container h1 a:visited:hover {
      color: #666666; }
  #header #menu-container ul#menu {
    margin: 15px 0 0 0;
    padding: 0;
    display: inline;
    list-style-type: none;
    float: right; }
    #header #menu-container ul#menu li {
      margin: 0;
      padding: 0;
      display: inline; }
      #header #menu-container ul#menu li a, #header #menu-container ul#menu li a:visited {
        color: #666666;
        padding: 20px 20px 14px 20px; }
      #header #menu-container ul#menu li a:hover, #header #menu-container ul#menu li a:visited:hover {
        color: #e5ecf9;
        background-color: rgba(171, 139, 0, 0.4); }

indy_hackers_calendar {
  margin: 0 auto; }

#body {
  margin-top: 20px; }
  #body .readable, #body ol.tumblr_posts > li {
    margin-bottom: 10px;
    padding: 10px;
    border-top: 2px solid white;
    background: url("../images/white-grad-trans.png") repeat-x;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
    #body .readable h2, #body .readable .tumblr_title, #body ol.tumblr_posts > li h2, #body ol.tumblr_posts > li .tumblr_title {
      display: block;
      background: #cccccc;
      padding: 25px 5px 0 5px;
      font-family: Consolas, Inconsolata, Terminus, DejaVu Sans Mono, mono;
      text-align: right;
      width: 600px;
      z-index: 5; }
    #body .readable p, #body ol.tumblr_posts > li p {
      padding: 0 10px; }
  #body ol.tumblr_posts {
    list-style-type: none;
    margin-left: -30px; }
  #body .tumblr_title {
    color: #666666;
    font-weight: bold;
    font-size: 23px; }
  #body #beer-clause {
    font-size: 80%;
    font-style: italic; }

h3#get-a-job-posted {
  margin-top: 20px;
  display: block;
  text-align: center; }

.job h3 {
  margin-top: 15px; }
.job .job-description {
  background-color: #e5ecf9;
  padding: 2em;
  margin-bottom: 2em; }

.toggle-all {
  float: right;
  padding: 2px;
  margin-top: -15px;
  border: 1px solid #e5ecf9;
  font-size: 70%; }

#footer {
  text-align: center; }
  #footer p {
    background-color: rgba(171, 139, 0, 0.4);
    color: #e5ecf9;
    padding: 5px 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
    #footer p a, #footer p a:visited {
      color: #c3d9ff; }
      #footer p a:hover, #footer p a:visited:hover {
        color: #7799bb; }
