- title 'Sponsors'.html_safe

%h1 Sponsors
%p
  :markdown
    Indy Hackers is built on the incredible spirit and generosity of our community. Whether you’re helping a fellow hacker, sharing industry insights, or making that key introduction, your contributions have made a real impact.
    To keep building on this momentum, we’re excited to partner with sponsors who share our vision of growing the tech scene in Indiana. Every sponsorship directly fuels better events, new opportunities, and more resources for our members.
    *Thank you for believing in this community and helping us grow—together, we’re making a real difference.*

If you or your company is interested in sponsoring Indy Hackers and showing your support for the builders, please contact
%a{:href =>'mailto:sponsors@indyhackers.org'}sponsors@indyhackers.org.

  
%h2 Silver Sponsors
=link_to image_tag("/sponsors/pureinsights.png", width:150, skip_pipeline: true), "https://mypureinsights.com?utm_campaign=indy_hackers"
=link_to image_tag("/sponsors/madelabs.png", width:200, skip_pipeline: true), "https://www.madelabs.io?utm_campaign=indy_hackers"

%h2 Bronze Sponsors
=link_to image_tag("/sponsors/data317.png", width:150, skip_pipeline: true), "https://www.data317.com?utm_campaign=indy_hackers"

