form.simple_form
  width: 760px
  margin: 0 auto

input[type=text], input[type=password], input[type=email], textarea
  margin-bottom: 5px
  font-size: 16px
  padding: 9px
  border: solid 1px #E5E5E5
  outline: 0
  background: #FFFFFF

textarea
  width: 740px
  height: 400px
  line-height: 150%

input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, textarea:hover,
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus
  border-color: #C9C9C9

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus
  border-color: #999999

form.simple_form fieldset div label
  display: block
  width: 100px
  padding-right: 10px

form.simple_form fieldset
  padding-bottom: 10px
  padding-top: 10px

form.simple_form legend
  color: $blue
  font-size: 100%
  font-weight: bold
  margin-left: 20px

form.simple_form .hint
  margin-left: 115px
  font-size: 13px
  color: $medium_grey
  display: block
  font-style: italic

form.simple_form span.error
  display: block
  text-align: center

form.simple_form label abbr
  color: #ff0000

form.simple_form .input input.button
  float: left
