- title 'IndyHackers Monthly Calendar'
#calendar
  %iframe{:src => "https://www.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23FFFFFF&src=ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com&color=%23125A12&ctz=America%2FNew_York", :style => "border-width:0", :width => "930", :height => "600", :frameborder => "0", :scrolling => "no"}
