%section.coc-body.container
  :markdown
    # Code of Conduct

    All participants of our events and/or the slack community are required to agree with the following
    code of conduct. Board members will enforce this code throughout. We are expecting cooperation from
    all participants to help ensuring a safe/happy environment for everybody.

  %br/
  :markdown
    ## Need Help?

    Contact [help@indyhackers.org](mailto:help@indyhackers.org). If you'd prefer to chat with an individual, you can also contact any of the [current board members directly](/about#the-board).

  %br/
  :markdown
    ## The Quick Version

    Our events/community/slack organizations are dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity
    and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or
    lack thereof), or technology choices. We do not tolerate harassment of event participants in any form. Sexual
    language and imagery is not appropriate at the event. Event participants violating these rules may be sanctioned or
    expelled from the event without a refund at the discretion of the event organisers.

  %br/
  :markdown
    ## The Less Quick Version

    Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual
    orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual
    images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained
    disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.

    Participants asked to stop any harassing behavior are expected to comply immediately.

    If a participant engages in harassing behavior, the board members may take any action they deem appropriate,
    including warning the offender or expulsion from the event/slack org.

    If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact
    a member of board immediately. Board members can be identified above.

    We will be happy to help participants contact local law enforcement, provide escorts, or otherwise assist
    those experiencing harassment to feel safe for the duration of the event/life of the slack organization. We value your participation!

  %br/
  :markdown
    ## Posting Jobs
    
    We encourage members of this community to post jobs that include salary ranges. We understand that it is not always possible, but it helps job seekers by
    
    - Cutting directly to [the primary reason](https://www.shrm.org/resourcesandtools/hr-topics/talent-acquisition/pages/salary-most-important-part-job-ad.aspx) we look for new jobs in the first place 
    - Saving research time looking at similar compensation packages on Glassdoor or LinkedIn, which may not always be accurate
    - Providing clear insight to fair and equitable pay across your organization

    While we prefer postings with salary ranges, our role is to be inclusive and welcoming. To that effort, we also encourage job posters who may not have the power to post salary ranges to reach out to the community for tools and insights on how to advocate for public salary ranges in your organization.
