%li
  :markdown
    # Indy Hackers' Code of Conduct

    All participants of our events and/or the slack community are required to agree with the following
    code of conduct. Board members will enforce this code throughout. We are expecting cooperation from
    all participants to help ensuring a safe/happy environment for everybody.

    ## Need Help?

    Contact [help@indyhackers.org](mailto:help@indyhackers.org).

    If you want to chat about something/report a violation you can contact any of the current board members:
  %ul.volunteer-organizers
    %li
      %img{:alt => "Miles Sterrett", :src => "/holiday-social-2015/image/miles-sterrett.png"}
      .name Miles Sterrett (@mileszs)
    %li
      %img{:alt => "Matt Swanson", :src => "/holiday-social-2015/image/matt-swanson.jpeg"}
      .name Matt Swanson (@swanson)
    %li
      %img{:alt => "Dave Strus", :src => "/holiday-social-2015/image/davey-strus.jpeg"}
      .name Dave Strus (@dstrus)
    %li
      %img{:alt => "Andrew Robinson III", :src => "/holiday-social-2015/image/andrew-robinson-iii.jpeg"}
      .name Andrew Robinson III (@ar3)
    %li
      %img{:alt => "Tyler Moore", :src => "/images/tyler.jpeg", height: 72, width:72}
      .name Tyler Moore (@tyler)
    %li
      %img{:alt => "Jon Fuller", :src => "/holiday-social-2015/image/jon-fuller.jpeg"}
      .name Jon Fuller (@jon)
    %li
      = image_tag "calvin.jpg", alt: "Calvin Hendryx-Parker"
      .name Calvin Hendryx-Parker (@calvinhp)
    %li
      = image_tag "chris-zelenak.png", alt: "Chris Zelenak"
      .name Chris Zelenak (@netshade)
    %li
      = image_tag "emily.jpg", alt: "Emily Trimble"
      .name Emily Trimble (@trimblyton)
  %br
  :markdown
    ## The Quick Version

    Our events/community/slack organizations are dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity
    and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or
    lack thereof), or technology choices. We do not tolerate harassment of event participants in any form. Sexual
    language and imagery is not appropriate at the event. Event participants violating these rules may be sanctioned or
    expelled from the event without a refund at the discretion of the event organisers.

    ## The Less Quick Version

    Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual
    orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual
    images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained
    disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.

    Participants asked to stop any harassing behavior are expected to comply immediately.

    If a participant engages in harassing behavior, the board members may take any action they deem appropriate,
    including warning the offender or expulsion from the event/slack org.

    If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact
    a member of board immediately. Board members can be identified above.

    We will be happy to help participants contact local law enforcement, provide escorts, or otherwise assist
    those experiencing harassment to feel safe for the duration of the event/life of the slack organization. We value your participation!
