%li
  :markdown
    # Indy Hackers' Holiday Social Code of Conduct

    All attendees, speakers, sponsors and volunteers at our event are required to agree with the following
    code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from
    all participants to help ensuring a safe environment for everybody.

    ## Need Help?

    Contact [help@indyhackers.org](mailto:help@indyhackers.org) before the event.

    At the event you can contact any of the event organiser:

    * Miles Sterret
    * Matt Swanson
    * Missy May
    * Andrew Robinson III
    * Dave Strus
    * David Jones
    * Jon Fuller

    ## The Quick Version

    Our event is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity
    and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or
    lack thereof), or technology choices. We do not tolerate harassment of event participants in any form. Sexual
    language and imagery is not appropriate at the event. Event participants violating these rules may be sanctioned or
    expelled from the event without a refund at the discretion of the event organisers.

    ## The Less Quick Version

    Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual
    orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual
    images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained
    disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.

    Participants asked to stop any harassing behavior are expected to comply immediately.

    If a participant engages in harassing behavior, the event organisers may take any action they deem appropriate,
    including warning the offender or expulsion from the event.

    If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact
    a member of event staff immediately. Event staff can be identified via 'Organizer' name tags.

    Event staff will be happy to help participants contact local law enforcement, provide escorts, or otherwise assist
    those experiencing harassment to feel safe for the duration of the event. We value your attendance.
