%li.clear-fix{ :data => { :section => "announcement"} }
  %iframe{ src: "https://docs.google.com/forms/d/e/1FAIpQLSdVSR9WEmbvJCdNDZEDsouKpq3qARmnenfhpvHAl4zzEpLtFw/viewform?embedded=true", frameborder: "0", marginheight: "0", marginwidth: "0"} Loading...
