-content_for :head do
  %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", :integrity => "sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", :rel => "stylesheet"}/

%li
  :markdown
    # The 2020 Hackies Awards!

    Each year, we recognize invididuals in the Indianapolis tech community who have done outstanding work throughout the year, whether by improving their own skills, mentoring and teaching others, or doing their part to enrich the community as a whole. The Hackies Awards recognize individuals in the community who are great promoters of inclusion, empowerment and diversity.

    Nominations are open now until October 21. Nominees must be willing to accept an award, and nominations can not be made anonymously. Winners will be announced online at the 2020 Holiday Social.  Without further ado, here are the Hackies!

    ## Community Member of the Year

    The Community Member of the Year puts their energy toward building the Indiana tech community in a positive and welcoming way. They may work to increase interactions across disciplines, speak at meetups, host or volunteer at events, and more. The local community is better as a whole because of the efforts of this person.

    ## Level Up of the Year

    The Level Up of the Year has taken their abilities in their craft, network, or job to a whole new level. This can come in many forms, but it is generally impressive to see how much this person has grown in the past year due to sheer focus and determination.

    ## Mentor of the Year

    The Mentor of the Year thrives on helping others level up on an individual level. They take time out of their own schedule to focus on another individual’s growth, not because it’s their job to do so, but because they genuinely want to see their mentee succeed.

    ## Rising Star of the Year

    The Rising Star is someone who has shown great effort in learning tech skills as well as encouraging others to get involved into the Indiana tech community.

    ## Trainer of the Year

    The Trainer of the Year can frequently be found helping others learn. They may give talks at meetups, teach at a coding school, or teach in other capacities. They have been recognized as a teacher/trainer with superior communication skills, patience and willingness to reach out to beginners.

    #### Have someone you'd like to nominate?

    [Here's the nomination form!](https://forms.gle/yZ73yBSjiGrkxPPi6) If you have any questions about the Hackies, or the nomination process, please contact [board@indyhackers.org](mailto:board@indyhackers.org).
