<!-- 2 column layout -->
<!-- <div class="layout&#45;50&#45;right"> -->
<!-- </div> -->
<!-- <div class="layout&#45;50&#45;left"> -->
<!-- </div> -->

<li class="clear-fix blm" data-section="announcement">
  <div>
    <h2>Black Lives Matter</h2>
    <p>IndyHackers board stands with the Black community. Just saying we are allies isn’t enough. We owe it to the Black community of Indiana to do better. We commit to initiating anti-racist work within our community.</p>

    <p>As a start, we have donated directly to Black Lives Matter&mdash;$846 for the 8m and 46s George Floyd spent suffocating under a police officer sworn to serve and protect him. (<%= link_to "Here's the receipt", 'assets/blm-receipt.png' %>.) Next, we are working to create and fill a new position on the board, a position solely accountable for Diversity and Inclusion in everything we do. We intend to fill this position with a member of an underrepresented group in our local community.</p>

    <p>In the meantime, Andrew Robinson III (long-time board member who shifted his focus last year) has agreed to return to the board to guide and advise us in our efforts to fill this new position and to represent the Black community until the position is filled.</p>
  </div>
</li>

<li class="clear-fix" data-section="announcement">
  <div>
    <h2>2020 Hackies</h2>
    <p>Every year we ask the community to help us identify individuals who have grown or contributed to the tech community so that we can recognize them with a Hackies Award.</p>
    <p>Nominations are open! Visit the <%= link_to 'Hackies page', '/hackies' %> to learn more and to nominate somebody!</p>
  </div>
</li>

<li id="indy_hackers_calendar">
  <h2>Indy Hackers' Calendar</h2>
  <div class="text-center">
    <p>
      <%= link_to 'Month View', '/calendar' %>
      &nbsp;|&nbsp;
      <%= link_to 'Subscribe to the Events Feed', 'webcal://calendar.google.com/calendar/ical/ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com/public/basic.ics' %>
    </p>
    <iframe src="//www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23DDDDDD&amp;src=ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style="border-width:0 " width="800" height="400" frameborder="0" scrolling="no"></iframe>
  </div>
</li>