.grid_10.prefix_1
  %section#whatup.readable

    %h1 Holiday Social 2012 

    %p
      :markdown
        [Indy Hackers' Holiday Social 2012](/holiday-social) will take place **December 15th at 7PM**. You can learn more about the event [here](/holiday-social). If you already know you want a ticket &mdash; which is totally the case, I'm sure &mdash; [get your free ticket here now](http://indyhackersholidaysocial2012.eventbrite.com/)!
  
  %section#newsletter.readable

    %h1 Hacks && Happenings Newsletter 

    %p
      :markdown
        Indy Hackers is proud to present **Hacks && Happenings**, a monthly collection of projects and blog posts by local developers and special developer-centric events delivered straight to your inbox.

        You can [subscribe](http://indyhackers.us6.list-manage.com/subscribe?u=244b5370d41b5cf4146ec517c&id=b51f983563) now.

  %section#indy_hackers_calendar.readable
    %h1 indy hackers' calendar
    %p
      = link_to 'Month View', '/calendar'
      |
      = link_to 'Subscribe to the Events Feed', 'https://www.google.com/calendar/feeds/ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com/public/basic'
    <iframe src="http://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>

  %section#contact.readable
    %h1 missin' somethin'?
    %p
      :markdown
        If there's an event that you think is missing from our calendar, or if you want to recommend an event that you think is extra-special in the next month or so, email [miles@indyhackers.org](mailto:miles@indyhackers.org).

