<!-- 2 column layout -->
<!-- <div class="layout&#45;50&#45;right"> -->
<!-- </div> -->
<!-- <div class="layout&#45;50&#45;left"> -->
<!-- </div> -->

<li class="clear-fix blm" data-section="announcement">
  <div>
    <h2>Black Lives Matter</h2>
    <p>IndyHackers board stands with the Black community. Just saying we are allies isn’t enough. We owe it to the Black community of Indiana to do better. We commit to initiating anti-racist work within our community.</p>

    <p>As a start, we have donated directly to Black Lives Matter&mdash;$846 for the 8m and 46s George Floyd spent suffocating under a police officer sworn to serve and protect him. (<%= link_to "Here's the receipt", 'assets/blm-receipt.png' %>.) Next, we are working to create and fill a new position on the board, a position solely accountable for Diversity and Inclusion in everything we do. We intend to fill this position with a member of an underrepresented group in our local community.</p>

    <p>In the meantime, Andrew Robinson III (long-time board member who shifted his focus last year) has agreed to return to the board to guide and advise us in our efforts to fill this new position and to represent the Black community until the position is filled.</p>
  </div>
</li>

<li class="clear-fix" data-section="announcement">
  <div>
    <h2>Congrats 2020 Hackies Winners!</h2>
    <p>Thank you to everyone who joined us in congratulating the Hackies winners for 2020! Despite it being what can only be described as <i>quite a year</i>, the Indy tech community is continuing to shine. In December at the virtual Holiday Social, we announced the winners for last year. Give them a hand!
    <ul>
      <li><b>Community Member of the Year:</b> <a href="https://www.linkedin.com/in/kristencooper23/" target="_blank">Kristen Cooper, The Startup Ladies</a></li>
      <li><b>Level Up of the Year:</b> <a href="https://www.linkedin.com/in/brittany-hutter/" target="_blank">Brittany Hutter, Lessonly</a></li>
      <li><b>Rising Star of the Year:</b> Alexa Kovacs, KSM Consulting</li>
      <li><b>Mentor of the Year:</b> <a href="https://www.linkedin.com/in/robjac/" target="_blank">Robbie Jacobs, PactSafe</a></li>
      <li><b>Trainer of the Year:</b> <a href="https://www.linkedin.com/in/arianna-basha-00b2b1146/" target="_blank">Arianna G Basha, Kenzie Academy</a></li>
    </ul>
    </p>
  </div>
</li>

<li id="indy_hackers_calendar">
  <h2>Indy Hackers' Calendar</h2>
  <div class="text-center">
    <p>
      <%= link_to 'Month View', '/calendar' %>
      &nbsp;|&nbsp;
      <%= link_to 'Subscribe to the Events Feed', 'webcal://calendar.google.com/calendar/ical/ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com/public/basic.ics' %>
    </p>
    <iframe src="//www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23DDDDDD&amp;src=ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style="border-width:0 " width="800" height="400" frameborder="0" scrolling="no"></iframe>
  </div>
</li>