#whatup.readable

  %h2 what's happenin'?

  %p
    :markdown
      Indy Hackers & Founders has been re-branded! Having grown from a crowd of 30 or so to a crowd of 200 with a lengthy waiting list on top of that, they thought it was time to take the next step. Check out [vergeindy.com](http://vergeindy.com/) to get more information.

      Check out the [job opening at BlueLock](http://indyhackers.org/jobs/) for a Software Engineer! Keep the job openings coming!

#indy_hackers_calendar.readable
  %h2 indy hackers' calendar
  <iframe src="http://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>

#contact.readable
  %h2 missin' somethin'?
  %p
    :markdown
      If there's an event that you think is missing from our calendar, or if you want to recommend an event that you think is extra-special in the next month or so, email [miles@mileszs.com](mailto:miles@mileszs.com).

