-# %li#holiday-social{ :data => { :section => "announcement"} }
-#   %h2 Indy Hackers T-Shirts
-#   %p
-#     :markdown
-#       [Get your Indy Hackers Monument T-Shirt!](https://www.formstack.com/forms/?1626926-k8TXnrvdKH). For **only $25**, you can show off your pride in the Indianapolis and its programmer community. From a distance, it's the instantly-recognizable outline of the Soldiers' and Sailors' Monument. Up close, well, it's all Indy Hackers.
-#   %p
-#     :plain
-#       <a href="https://www.formstack.com/forms/?1626926-k8TXnrvdKH" class="button-black clear-fix">
-#         <span class="click-here"></span>
-#         Get Your Indy Hackers Shirt!
-#       </a>

%li#newsletter.layout-50.clear-fix{ :data => { :section => "announcement"} }
  .layout-50-left
    %h2 The Newsletter
    %p
      :markdown
        Indy Hackers is proud to present **Hacks && Happenings**, a monthly collection of projects and blog posts by local developers and special developer-centric events delivered straight to your inbox.

        You can [subscribe](http://indyhackers.us6.list-manage.com/subscribe?u=244b5370d41b5cf4146ec517c&id=b51f983563) now or [view the past issues](/newsletter/archive).

  .layout-50-right
    %h2 You, here, and in or newsletter?
    %p
      :markdown
        Want to get your name in front of developers and other technologists in Indy? Want to help support our efforts in bringing together and helping to grow this community? [Ask us about sponsoring](mailto:sponsors@indyhackers.org), today!

%li#indy_hackers_calendar
  %h2 indy hackers' calendar
  .text-center
    %p
      = link_to 'Month View', '/calendar'
      |
      = link_to 'Subscribe to the Events Feed', 'https://www.google.com/calendar/feeds/ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com/public/basic'
    <iframe src="http://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23DDDDDD&amp;src=ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style="border-width:0 " width="800" height="400" frameborder="0" scrolling="no"></iframe>
