#whatup.readable

  %h2 what's happenin'?

  %p
    :markdown
      JOBS! There are many of them. [IASTA](http://www.iasta.com/default.php) needs [a Rails guy](http://indyhackers.org/jobs#experienced-rails-developer-at-iasta), and that's [not the only Rails job](http://indyhackers.org/jobs#ruby-on-rails-sr--software-developer). The [Sigma Theta Tau Nursing Honor Society](http://www.nursingsociety.org/) needs a [.NET web developer](http://indyhackers.org/jobs#web-developer-at-sigma-theta-tau-international) downtown. [Six Feet Up](http://sixfeetup.com/) is searching for a [FreeBSD/Linux SysAdmin](http://indyhackers.org/jobs#freebsd-linux-senior-systems-administrator--geist-area---fortville--in-) just east in Fortville. [BlueLock](http://bluelock.com) is trying to find a [Java guy](http://indyhackers.org/jobs#software-engineer-at-bluelock). There are several more. Please [check out the job board](http://indyhackers.org/jobs)!

      If you've got a job that needs filled, feel free to [fill out a request](http://indyhackers.org/job_post_requests/new) and send it my way!

#indy_hackers_calendar.readable
  %h2 indy hackers' calendar
  <iframe src="http://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>

#contact.readable
  %h2 missin' somethin'?
  %p
    :markdown
      If there's an event that you think is missing from our calendar, or if you want to recommend an event that you think is extra-special in the next month or so, email [miles@mileszs.com](mailto:miles@mileszs.com).

