%li#holiday-social{ :data => { :section => "announcement"} }
  %h2 2013 Holiday Social
  %p
    :markdown
      Please join us — a bunch of programmers, nerds, geeks, hackers — to celebrate the year with food, drink, and friends both old and new. **December 7th, 7PM, at The Speak Easy in Broad Ripple**, we will have the **third annual Indy Hackers' Holiday Social**. We welcome everyone -- Pythonistas, Javanese, COBOLians, Scalanites, PHPers, Rubyists, .NET nuts, Perlsians.... We might even have some hardcore functional programming zealots giving in to mutable state for a few hours. The best part? It is completely free.

      Need more details? We've got em all [here](/holiday-social-2013), including ways for your company to sponsor the event. 

  %p
    :plain
      <a href="http://indyhackersholidaysocial2013.eventbrite.com/" class="button-black clear-fix">
        <span class="click-here"></span>
        Get Your Free Ticket
      </a>

%li#newsletter{ :data => { :section => "announcement"} }
  %h2 Hacks && Happenings Newsletter
  %p
    :markdown
      Indy Hackers is proud to present **Hacks && Happenings**, a monthly collection of projects and blog posts by local developers and special developer-centric events delivered straight to your inbox.

      You can [subscribe](http://indyhackers.us6.list-manage.com/subscribe?u=244b5370d41b5cf4146ec517c&id=b51f983563) now or [view the past issues](/newsletter/archive).

%li#indy_hackers_calendar
  %h2 indy hackers' calendar
  .text-center
    %p
      = link_to 'Month View', '/calendar'
      |
      = link_to 'Subscribe to the Events Feed', 'https://www.google.com/calendar/feeds/ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com/public/basic'
    <iframe src="http://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23DDDDDD&amp;src=ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style="border-width:0 " width="800" height="400" frameborder="0" scrolling="no"></iframe>
