#whatup.readable

  %h2 what's happenin'?

  %p
    :markdown
      It's a busy week in Indy! [AgileIndy](http://www.linkedin.com/groups/AgileIndy-3800618) Tuesday, [CINGLUG](http://www.google.com/url?q=http%3A%2F%2Fwww.cinlug.org%2F&ust=1312297925095000&usg=AFQjCNHaiK3Mggn8o7w8kY8XPEtVekokEg) and more on Wednesday, [Indy Code & Coffee](http://www.meetup.com/Indianapolis-Code-and-Coffee/) Thursday morning, [IndyPy](http://python.meetup.com/182/) Thursday night, and [2600](http://www.in2600.com/) on Friday. All this after Friday's big [rebuild conf](http://rebuildconf.com)! Naptown? I don't think so.

#indy_hackers_calendar.readable
  %h2 indy hackers' calendar
  <iframe src="http://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>

#contact.readable
  %h2 missin' somethin'?
  %p
    :markdown
      If there's an event that you think is missing from our calendar, or if you want to recommend an event that you think is extra-special in the next month or so, email [miles@mileszs.com](mailto:miles@mileszs.com).

