#whatup.readable

  %h2 what's happenin'?

  %p
    :markdown
      There is quite an array of unique meetings coming up in the next few weeks. Aside from the usual set (Indy Scala, Indy Hackers, Indy Code & Coffee, IndyPy, Indy 2600) there are a couple special ones:

      + [Indy.rb Code Review Session](https://www.google.com/calendar/render?eid=ODlqbjNqdjE4YXIycTdvdjVnZnIwYmxqc3MgaWc3ZTBqNnY4dWI5cTZrZ2EyNTZuNzcwNDhAZw&ctz=America/New_York&pli=1&sf=true&output=xml) on November 30th
      + [Indy's Global Day of Coderetreat](https://www.google.com/calendar/render?eid=MGxxNTlhOXZwc3ZkbXJydnRrZWluZTkyNW8gaWc3ZTBqNnY4dWI5cTZrZ2EyNTZuNzcwNDhAZw&ctz=America/New_York&pli=1&sf=true&output=xml) on December 3rd
      + [Indy Hackers Holiday Social](http://indyhackersholidaysocial.eventbrite.com/) on December 16th

#indy_hackers_calendar.readable
  %h2 indy hackers' calendar
  <iframe src="http://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>

#contact.readable
  %h2 missin' somethin'?
  %p
    :markdown
      If there's an event that you think is missing from our calendar, or if you want to recommend an event that you think is extra-special in the next month or so, email [miles@indyhackers.org](mailto:miles@indyhackers.org).

