#whatup.readable

  %h2 what's happenin'?

  %p
    :markdown
      If you're like me, you want to attend several different conferences every year, but you have a hard time justifying the expense. RailsConf alone is around $800, and that doesn't count hotel and travel! Thankfully, this year, you can attend a great conference in Indianapolis: [re:build](http://rebuildconf.com/). Rebuild brings the opportunity to see speakers such as Yehuda Katz (Rails core, jQuery, SproutCore developer) and Faruk Ateş (Modernizer, former UI Engineer at Apple) without paying for hotel and travel. The cost? A mere $149. [Go get your ticket now](http://rebuild.ticketleap.com/2011/).
#indy_hackers_calendar.readable
  %h2 indy hackers' calendar
  <iframe src="http://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>

#contact.readable
  %h2 missin' somethin'?
  %p
    :markdown
      If there's an event that you think is missing from our calendar, or if you want to recommend an event that you think is extra-special in the next month or so, email [miles@mileszs.com](mailto:miles@mileszs.com).

