#why.readable

  %h2 why indy?

  #why-list
    :markdown

      You don't associate Indianapolis, Indiana with tech, or startups, or opportunity in the tech field. That is understandable. When you think of Indy (if you think of Indy), you probably think of car racing, basketball, maybe corn. Well, there's more than corn in Indiana:

      * The **tech community** is strong, closely knit, and growing on a daily basis. It's accessible. It's exciting!
      * Developers are in **high demand** here. If you move to Indy for a job, and that job doesn’t work out, you have several other options for employment.
      * We have a **variety** of local tech stuff. People working on online marketplaces, people working in robotics, people working in startup services, consultants who work on just about anything, college students and telecommuters for out of state biz who are here because of family, or because it’s cheap.
      * The **cost of living** is very low, so if you’re trying to start a business, you’re money will go much further. Lower burn rate = longer runway
      * The **food and beer** in Indy is great. Yes, great. Indiana beer is some of the best in the world. We are not joking. Come visit to find out.
      * It is a great place for **families**. Not all developers and entrepreneurs are in their early 20’s, with no family ties. 
      * The state is in strong **financial health** and has become a model for other states in the region. (If I had more time I’d link to some articles and some stats)
      * Indy the city is doing a lot of **infrastructure improvements** to enhance quality of life downtown. Downtown is a really cool place to be right now, as well as some other areas around town (Broad Ripple, Fountain Square, etc).
      * There is a lot of **hustling**. Lots of new businesses starting up, trying out ideas, making things happen. Sometimes they stay here, sometimes they don’t, but it’s cool to see.
      * Indiana is quite **pretty**, Indianapolis especially so. There’s some sprawl, unfortunately, but there’s some nice urban areas, some pretty wooded spots, and all usually well intermixed. Lots of camping and outdoors stuff nearby if you want to take advantage of it.
