#why.readable

  %h2 why indy?

  #why-list
    :markdown
      So many reasons! We have big-time concert venues, sports like the Big Ten football and basketball championships, the NCAA tournament, conventions like GenCon, racing like the Indy 500 and the Brickyard 400, the Super Bowl. Yes, THE Super Bowl. We are an event city. We are Naptown no longer. We're also all of these:

      * The **tech community** is strong, closely knit, and growing on a daily basis. It's accessible. It's exciting!
      * Developers are in **high demand** here. It's not uncommon for developers to get poached or for a successful company to swoop in and scoop up all the talent from a failed startup.
      * We have a **variety** of local tech stuff. People working on online marketplaces, people working in robotics, people working in startup services, consultants who work on just about anything, college students and telecommuters for out of state biz who are here because of family, or because it’s cheap.
      * The **cost of living** here is disgustingly low. You can get a single apartment near Broad Ripple, arguably the heart of Indy's young professional hangout scene, for less than $700. With roommates it gets even cheaper. If you're an entrepreneur but not a mathematician, lower burn rate = longer runway.
      * The **food and beer** in Indy is great and plentiful. If you're in Broad Ripple, there are 3 separate microbreweries within 1,000 feet of each other (Three Wisemen, Brugge Brasserie, Broad Ripple Brew Pub) and that's just Broad Ripple.
      * If family is your thing, the towns around Indianapolis are consistently ranked in the top 10 of best places to live.
      * The state is in strong **financial health** and has become a model for other states in the region. You're not getting that in California, or even Illinois.
      * Indy the city is doing a lot of **infrastructure improvements** to enhance quality of life downtown. Downtown is a really cool place to be right now, as well as some other areas around town (Broad Ripple, Fountain Square, etc).
      * There is a lot of **hustling**. Lots of new businesses starting up, trying out ideas, making things happen. 
      * Indiana is quite **pretty**, Indianapolis especially so. There are nice urban areas, beautiful wooded spots, and all well intermixed. There is plenty of camping and outdoors stuff nearby. It's the best of both worlds.
