%section#why.readable

  %h1 why indy?

  .left-image
    %img{:src => '//farm3.staticflickr.com/2407/2379153276_02389ca7cd.jpg', :alt => 'Indy at Night', :title => 'Downtown Indy, by the canal, at night'}
    %p.caption 
      Downtown Indy at Night by
      = link_to 'Rob Annis (indywriter)', '//www.flickr.com/photos/indywriter/2379153276/'
      via Flickr
  :markdown
    So many reasons! We have big-time concert venues, sports like the Big Ten football and basketball championships, the NCAA tournament, conventions like GenCon, racing like the Indy 500 and the Brickyard 400, the Super Bowl. Yes, THE Super Bowl. We are an event city. We are Naptown no longer. We're also all of these:

    * The **tech community** is strong, closely knit, and growing on a daily basis. It's accessible. It's exciting! (See [the IndyHackers Calendar](//www.indyhackers.org/calendar))
    * Developers are in **high demand** here. It's not uncommon for developers to get poached or for a successful company to swoop in and scoop up all the talent from a failed startup.(See [Indianapolis Programming Jobs](https://www.indyhackers.org/jobs) right here)
    * We have a **variety** of local tech startups. People working on [online marketplaces](http://www.giggil.com/), people building web-based business apps ([there](https://instrumentalapp.com) [are](http://proposaljet.com) [a lot](https://docraptor.com/) [of these](http://tinderbox.com/)), people working in [robotics](https://blogs.wsj.com/venturecapital/2010/08/18/a-robot-lawn-mower-that-can-detect-darting-gophers/), people working in startup services, consultants who work on just about anything, college students and telecommuters for out of state biz who are here because of family, or because it’s cheap.
    * The **cost of living** here is really low. You can get an apartment near Broad Ripple, arguably the heart of Indy's young professional hangout scene, for less than $700. With roommates it's even cheaper. If you're an entrepreneur, but not a mathematician: lower burn rate = longer runway. (See [Wikipedia](https://en.wikipedia.org/wiki/Indianapolis#Business_Climate_and_Real_Estate))

  .clear &nbsp;

  .right-image
    %img{:src => '//farm4.staticflickr.com/3364/3440328630_a8cf603f37.jpg', :alt => 'Central Library', :title => 'The Central Library'}
    %p.caption 
      The Central Library
      = link_to 'Serge Melki', '//www.flickr.com/photos/sergemelki/3440328630/'
      via Flickr

  :markdown
    * The **food and beer** in Indy is great and plentiful. If you're in Broad Ripple, there are 3 separate microbreweries within 1,000 feet of each other ([Three Wisemen](https://www.thr3ewisemen.com/), [Brugge Brasserie](https://www.bruggebrasserie.com/), [Broad Ripple Brew Pub](https://www.broadripplebrewpub.com/)) and that's just Broad Ripple. (See [Brewers Of Indiana Guild](https://drinkin.beer/breweries/). Also, NY Times article [In Indianapolis, the World Comes to Eat](https://www.nytimes.com/2011/02/23/dining/23united.html?pagewanted=all).)
    * If family is your thing, the towns around Indianapolis are consistently ranked in the top 100 of best places to live. (See [Carmel](https://money.cnn.com/magazines/moneymag/bplive/2010/snapshots/PL1810342.html), [Fishers](https://money.cnn.com/magazines/moneymag/bplive/2010/snapshots/PL1823278.html), [Westfield](https://money.cnn.com/magazines/moneymag/bplive/2011/snapshots/PL1882700.html), [Noblesville](https://money.cnn.com/magazines/moneymag/bplive/2011/states/IN.html), [Brownsburg](https://money.cnn.com/magazines/moneymag/bplive/2011/snapshots/PL1808416.html), [Zionsville](https://money.cnn.com/galleries/2008/fsb/0803/gallery.best_places_to_launch.fsb/57.html), and [Plainfield](https://money.cnn.com/magazines/moneymag/bplive/2011/snapshots/PL1860246.html).)
    * The state is in strong **financial health** and has become a model for other states in the region. You're not getting that in California, or even Illinois. (See [CNN](https://money.cnn.com/2011/02/14/news/economy/mitch_daniels_indiana_state_budget/index.htm))

  .clear &nbsp;

  .left-image
    %img{:src => '//farm4.staticflickr.com/3120/2621107910_bf96fba2b4.jpg', :alt => 'The Monon Trail', :title => 'The Monon Trail'}
    %p.caption 
      The Monon Trail by
      = link_to 'Serge Melki', '//www.flickr.com/photos/sergemelki/2621107910/'
      via Flickr

  :markdown
    * Indy the city is doing a lot of **infrastructure improvements** to enhance quality of life downtown. Downtown is a really cool place to be right now, as well as some other areas around town (Broad Ripple, Fountain Square, etc).
    * There is a lot of **hustling**. Lots of new businesses starting up, trying out ideas, making things happen. 
    * Indiana is quite **pretty**, Indianapolis especially so. There are nice urban areas, beautiful wooded spots, and all well intermixed. There is plenty of camping and outdoors stuff nearby. It's the best of both worlds.
    * History museums, art museums, play houses, concert halls, farmer's markets, restaurants for every ethnicity.... Everything is here.

// Children's Museum, IMA, Symphony, Palladium, farmer's markets...
