$primary-yellow: #FEBE0A;
$background-blue: #E8F1F6;
$text-color-black: #211D23;
$dark-gray: #6F6F6F;
$header-font: 'Space Mono', monospace;
$text-font: 'Work Sans', sans-serif;

$development: #069a41;
$production: #9a0606;
