.about .header-phone a,
.about .header-phone a:hover {
  color: white;
  text-decoration: none;
}

.about .header-phone a:hover {
  color: #ffc000;
}

.about .volunteer-organizers {
  text-align: center;
}

.about .footer {
  display: none;
}

.about .the-board img.card-img-top {
  width: 100%;
}

.about .the-board .card.blank {
  background-color: #ffc000;
  border: none;
}

.about .card-deck {
  margin-bottom: 15px;
}

.about h4.card-title {
  font-size: 22px;
}

.about .email {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.about .slack {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 50%;
}
.about .twitter {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 20%;
}
.about .linkedin {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 20%;
  margin-top: -20px;
}
