@import '_variables';

.about {
  img {
  width: 100%;
  }
}

.card {
  margin: 30px 10px;

  h3 {
    text-align: center;
  }

  hr {
    color: $background-blue;
  }

  a {
    text-decoration: none;

    &:hover {
      color: $primary-yellow;
    }
  }

  .contact {
    display: flex;
    justify-content: space-evenly;
  }
}
