#admin-header {
  margin: 0;
  padding: 5px;
  color: #efefef;
  background-color: #000;
}

#admin-header .left {
  float: left;
}

#admin-header .right {
  float: right;
}

#admin-header .clear {
  clear: both;
}
