/*
 *= require_self
 *= require jquery.qtip
 *= require jquery-ui/jquery-ui
 *= require base
 *= require admin_header
 *= require simple_form
 *= require jobs
 *= require footer
 *= require coc
 */

article ul li ul {
  margin-left: 20px;
}

a.sponsor-blurb {
  font-size: 18px;
}

p.sponsor-indicator {
  font-size: 12px;
}

ul ul {
  margin-left: 20px;
}
