/*
 *= require_self
 *= require jquery.qtip
 *= require jquery-ui/jquery-ui
 *= require base
 */

#admin-header {
  margin: 0;
  padding: 5px;
  color: #efefef;
  background-color: #000;
}

#admin-header .left {
  float: left;
}

#admin-header .right {
  float: right;
}

#admin-header .clear {
  clear: both;
}

// form
form.simple_form {
  width: 760px;
  margin: 0 auto;
}

input[type=text], input[type=password], input[type=email], textarea {
  margin-bottom: 5px;
  font-size: 16px;
  padding: 9px;
  border: solid 1px #e5e5e5;
  outline: 0;
  background: white;
}

textarea {
  width: 740px;
  height: 400px;
  line-height: 150%;
}

form.simple_form fieldset div label {
  display: block;
  width: 100px;
  padding-right: 10px;
}

form.simple_form fieldset {
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #000;
  margin: 30px 0
}

form.simple_form legend {
  font-size: 100%;
  font-weight: bold;
}

form.simple_form .hint {
  font-size: 13px;
  display: block;
  font-style: italic;
}

form.simple_form span.error {
  display: block;
  text-align: center;
}

#job_post_request form.simple_form div.input { position: relative; }

#job_post_request form.simple_form fieldset div.input.string label,
#job_post_request form.simple_form fieldset div.input.text label,
#job_post_request form.simple_form fieldset div.input.email label,
#job_post_request form.simple_form fieldset div.input.password label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
}

form.simple_form label abbr {
  color: red;
}

form.simple_form .input input.button {
  float: left;
}

.job h1 a {
  font-size: 36px;
}

#single-job h1 {
  font-size: 36px;
}
#single-job article.job-description h1 {
  font-size: 24px;
}

#single-job article.job-description ul {
  padding-bottom: 15px;
  line-height: 150%;
}

.footer #made-by ul {
  margin-left: 60px;
}

.footer #made-by ul li {
  float: left;
  margin-left: 35px;
}
.footer #made-by ul li p {
  margin: 0;
  padding: 0;
}

.footer #made-by ul li img {
  width: 72px;
  height: 72px;
}

.footer.layout-50 .layout-50-left, .footer.layout-50 .layout-50-right {
  height: 160px;
}

table#jobs {
  width: 100%;
}

table#jobs tr td {
  margin: 0;
  padding: 6px 16px 6px 0;
  border-top: 1px solid #000;
  border-collapse: collapse;
  overflow: hidden;
}

ul.volunteer-organizers {
  display: block;
  overflow: hidden;
  width: 560px;
}

ul.volunteer-organizers li {
  display: block;
  float: left;
  margin: 5px;
  width: 175px;
  height: 175px;
}

ul.volunteer-organizers li img {
  margin: 0 auto;
  display: block;
}

ul.volunteer-organizers li .name {
  text-align: center;
}

li#jobs-header {
  padding: 10px;
}

li#jobs-header h1 {
  margin: 0;
  padding: 0;
}

.job-list {
  margin-top: 40px;
  background-color: #FFC000;
}

.job-list li {
  border-bottom: 1px solid black;
}

.job-list li:last-child {
  border-bottom: none;
}

.job-list li a {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Dosis';
  text-transform: uppercase;
  display: block;
  padding: 15px;
}

.job-list li a:hover {
  color: white;
  background-color: black;
}

article ul li ul {
  margin-left: 20px;
}

a.sponsor-blurb {
  font-size: 18px;
}

p.sponsor-indicator {
  font-size: 12px;
}

ul ul {
  margin-left: 20px;
}

.coc .footer {
  display: none;
}

.coc .header-phone a, .coc .header-phone a:hover{
  color: white;
}

.coc .the-board img.card-img-top {
  width: 100%;
}

.coc .volunteer-organizers {
  text-align: center;
}

.coc .card-deck {
  margin-bottom: 15px
}

.coc h4.card-title {
  font-size: 22px;
}

.coc .email {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.coc .slack {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 50%;
}
.coc .twitter {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 20%;
}
.coc .linkedin {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 20%;
  margin-top: -20px;
}
