.coc .footer {
  display: none;
}

.coc .header-phone a, .coc .header-phone a:hover{
  color: white;
}

.coc .the-board img.card-img-top {
  width: 100%;
}

.coc .volunteer-organizers {
  text-align: center;
}

.coc .card-deck {
  margin-bottom: 15px
}

.coc h4.card-title {
  font-size: 22px;
}

.coc .email {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.coc .slack {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 50%;
}
.coc .twitter {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 20%;
}
.coc .linkedin {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 20%;
  margin-top: -20px;
}
