@import '_variables';

.content {
  margin-bottom: 60px;

  > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 30px 20%;
    }
  }

  .blm {
    background-color: $text-color-black;
    color: $primary-yellow;
    padding: 30px 10%;
  }

  .wwihd {
    background-color: $background-blue;
    margin-bottom: 30px;
    padding: 30px 10%;

    h3 {
      font-family: $text-font;
      text-align: center;
    }
  }
  
  .calendar-links {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
}
