.footer #made-by ul {
  margin-left: 60px;
}

.footer #made-by ul li {
  float: left;
  margin-left: 35px;
}
.footer #made-by ul li p {
  margin: 0;
  padding: 0;
}

.footer #made-by ul li img {
  width: 72px;
  height: 72px;
}

.footer.layout-50 .layout-50-left, .footer.layout-50 .layout-50-right {
  height: 160px;
}
