@import '_variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 50px;
  fill: $text-color-black;
  margin-right: 16px;

  &-text {
    font-family: $header-font;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
}

.logo-gray {
  max-width: 100px;
  fill: $dark-gray;

  &-text {
    font-family: $header-font;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.menu {
  list-style-type: none;
  display: flex;
  font-size: 18px;

  li {
    margin-right: 28px;
  }

  > a {
    margin-right: 28px
  }
}

#admin-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  div.left {
    padding: 20px;
  }

  div.right {
    padding: 20px;
  }
}
