.job h1 a {
  font-size: 36px;
}

#single-job h1 {
  font-size: 36px;
}

#single-job h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  text-transform: none;

  &:not(:first-child) {
    margin-top: 0.5em;
  }
}

#single-job a {
  color: black;
  text-decoration: underline;
}

#single-job article.job-description h1 {
  font-size: 24px;
}

#single-job article.job-description ul {
  padding-bottom: 15px;
  line-height: 150%;
}

table#jobs {
  width: 100%;
}

table#jobs tr td {
  margin: 0;
  padding: 6px 16px 6px 0;
  border-top: 1px solid #000;
  border-collapse: collapse;
  overflow: hidden;
}

li#jobs-header h1 {
  margin: 0;
  padding: 0;
}

.job-list li {
  padding: 10px 20% !important;
}

.job-list li a {
  font-size: 20px;
  display: block;
  padding: 20px;
}

.job-list li a:hover {
  color: white;
  background-color: black;
}

body.admin.jobs {
  nav {
    margin-top: 10px;
    text-align: center;
  }

  #job-view-filter {
    float: right;
    clear: left;
  }
}

#live-preview {
  ul {
    list-style-type: disc;
  }
  
  ul, ol {
    padding-left: 20px;

    li {
      padding: 0;
    }
  }
}
