// form
form.simple_form {
  width: 760px;
  margin: 0 auto;
}

input[type=text], input[type=password], input[type=email], textarea {
  margin-bottom: 5px;
  font-size: 16px;
  padding: 9px;
  border: solid 1px #e5e5e5;
  outline: 0;
  background: white;
}

textarea {
  width: 740px;
  height: 400px;
  line-height: 150%;
}

form.simple_form fieldset div label {
  display: block;
  width: 100px;
  padding-right: 10px;
}

form.simple_form fieldset {
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #000;
  margin: 30px 0
}

form.simple_form legend {
  font-size: 100%;
  font-weight: bold;
}

form.simple_form .hint {
  font-size: 13px;
  display: block;
  font-style: italic;
}

form.simple_form span.error {
  display: block;
  text-align: center;
}

form.simple_form div.input { position: relative; }

// #job_post_request form.simple_form fieldset div.input.string label,
// #job_post_request form.simple_form fieldset div.input.text label,
// #job_post_request form.simple_form fieldset div.input.email label,
// #job_post_request form.simple_form fieldset div.input.password label {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   font-size: 18px;
// }

form.simple_form label abbr {
  display: none;
}

form.simple_form .input input.button {
  float: left;
}
